services:
  user-service:
    build:
      context: ../services
      dockerfile: user-service/Dockerfile
    image: localhost:5000/user-service:1.0
    container_name: user-service
#    ports:
#      - "8081:80"
    volumes:
      - ./configuration/user-service-application.yml:/micro-ops/application.yml:ro
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80/userservice/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - micro-ops-net

  order-service:
    build:
      context: ../services
      dockerfile: order-service/Dockerfile
    image: localhost:5000/order-service:1.0
    container_name: order-service
#    ports:
#      - "8082:80"
    volumes:
      - ./configuration/order-service-application.yml:/micro-ops/application.yml:ro
    depends_on:
      postgres:
        condition: service_healthy
      user-service:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80/orderservice/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    networks:
      - micro-ops-net

  frontend-service:
    build:
      context: ../services
      dockerfile: frontend-service/Dockerfile
    image: localhost:5000/frontend-service:1.0
    container_name: frontend-service
#    ports:
#      - "8080:80"
    volumes:
      - ./configuration/frontend-service-config.js:/usr/share/nginx/html/js/config.js:ro
    depends_on:
      user-service:
        condition: service_started
      order-service:
        condition: service_started
    networks:
      - micro-ops-net

  gateway:
    image: nginx:latest
    container_name: nginx-gateway
    ports:
      - "80:80"
    volumes:
      - ./configuration/nginx-config.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      frontend-service:
        condition: service_started
    networks:
      - micro-ops-net

  postgres:
    image: postgres:18
    container_name: microops-postgres
    restart: always
    environment:
      - POSTGRES_DB=MicroOpsHub
      - POSTGRES_USER=microops
      - POSTGRES_PASSWORD=MicroOps#123
#    ports:
#      - "5432:5432"
    volumes:
      - ./volume-data/postgres:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U microops" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - micro-ops-net

  registry:
    image: registry:2
    container_name: local-registry
    ports:
      - "5000:5000"
    restart: always
    networks:
      - micro-ops-net
    volumes:
      - ./volume-data/registry:/var/lib/registry

networks:
  micro-ops-net:
    driver: bridge
